.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.box {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.side-nav {
  display: flex;
  width: 75%;
  /* height: 80vh; */
  padding: 12px 12px;
  background-color: #1261A0;
  flex-direction: column;
  /* display: flex; */
  /* justify-content: center; */
  align-items: flex-start;
  color: white;
}
.button-box:hover{
  background-color: #009dff;
}
.button-box{
  text-align: left;
    width: 90%;
    cursor: pointer;
    margin: 6px 0;
    padding: 4px 7px;
}
.side-nav button{
  cursor: pointer;
  text-decoration: none;
  background: none;
  outline: none;
  border: none;
  color: white;
  font-size: 18px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  font-family: Arial, sans-serif;
}

.manometer {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  background-color: #f8f8f8;
}

.fluid-info,
.pressure-info {
  margin-bottom: 20px;
}

.pressure-info ul {
  padding: 0;
  list-style-type: none;
}

.pressure-info li {
  margin-bottom: 10px;
}
.container{
  width: 60%;
  display: flex;
  justify-content: space-between;
}










.Control-pannel {
  position: fixed; /* Fix the position of the div */
  bottom: 463px;
    left: 95%; /* Position it horizontally at the center */
  transform: translateX(-50%); /* Center the div horizontally */
  background-color: #fff; /* Background color */
  padding: 20px; /* Add padding */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Add box shadow for depth */
  z-index: 0; /* Ensure the div appears above other content */
  max-width: 400px; /* Set a maximum width */
  width: calc(100% - 40px); /* Make it responsive */
  height: 72vh;
}

.container-Piezometer {
  left: 349px;
}
.container-Utube {
 
  left: 262px;
}